<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [51]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [10]:
# your code goes here
dupes = df[df['Respondent'].duplicated()]
print('shape', df.shape)
print(len(dupes))

shape (11552, 85)
154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [18]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [19]:
# your code goes here
no_dupes_count = len(df[df.duplicated()])
print(no_dupes_count)
print(len(df))
print('unique Respondent', len(df['Respondent'].unique()))

0
11398
unique Respondent 11398

## Finding Missing values

Find the missing values for all columns.

In [31]:
# your code goes here
missing_data = df.isnull()
print('blank EdLevel entries', len(df[df['EdLevel'].isnull()]))
print('blank Country entries', len(df[df['Country'].isnull()]))

blank EdLevel entries 112
blank Country entries 0

Find out how many rows are missing in the column 'WorkLoc'

In [32]:
# your code goes here
print('blank WorkLoc entries', len(df[df['WorkLoc'].isnull()]))

blank WorkLoc entries 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [35]:
# your code goes here
cats = df['WorkLoc'].value_counts()
print('WorkLoc value counts')
print(cats)

WorkLoc value counts
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [46]:
#make a note of the majority value here, for future reference
maj_cat = cats.idxmax()
print('majority category:', maj_cat)

majority category: Office

In [49]:
# majority category under column Employment
employment_cats = df['Employment'].value_counts()
print(employment_cats.idxmax())

# minimum category under column UndergradMajor
min_cats = df['UndergradMajor'].value_counts()
print(min_cats.idxmin())

Employed full-time
A health science (ex. nursing, pharmacy, radiology)

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [67]:
# your code goes here
df['WorkLoc'].replace(np.nan, maj_cat, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [74]:
# your code goes here
df['WorkLoc'].isnull().value_counts()

False    11398
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [97]:
# your code goes here
print(df['CompFreq'].value_counts())
print('unique values', df['CompFreq'].unique())
print('CompTotal type', df['CompTotal'].dtype)

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64
unique values ['Yearly' 'Monthly' 'Weekly' nan]
CompTotal type float64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

[link text](https://)Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [111]:
# your code goes here
def calcComp(row):
  total = row['CompTotal']
  freq = row['CompFreq']
  if freq == 'Yearly':
    return total
  if freq == 'Monthly':
    return total * 12
  if freq == 'Weekly':
    return total * 52

df['NormalizedAnnualCompensation'] = df.apply(calcComp, axis=1)
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).